.home {

  .content-welcome {
    .displayFlex(column, auto, center);
    border-bottom: 2px dashed @navigation-border;

    .img-content {
      .displayFlex(column, auto, auto);

      @media @tablet {
        width: 90%;
      }
    }

    .text-content {
      .displayFlex(column, auto, auto);
      margin: 20px 0;

      @media @tablet {
        width: 90%;
      }
    }
  }

  .content-section {
    margin: 30px 0;
    .displayFlex(row, space-between, auto);
    flex-wrap: wrap;

    @media @tablet {
      .displayFlex(column, auto, center);
      flex-wrap: nowrap;
    }
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @tablet {
        width: 90%;
        .displayFlex(column, auto, auto);
        padding-right: 0;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @tablet {
        width: 90%;
        .displayFlex(column, auto, auto);
        padding-left: 0;
      }

      img {
        border-radius: 10px;
        .boxShadow();
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @tablet {
      .displayFlex(column, auto, center);
      flex-wrap: nowrap;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media @tablet {
        width: 90%;
        .displayFlex(column, auto, auto);
        padding-right: 0;
        order: 1;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @tablet {
        width: 90%;
        .displayFlex(column, auto, auto);
        padding-right: 0;
        order: 2;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @tablet {
      width: 90%;
      .displayFlex(column, auto, auto);
    }

    img {
      border-radius: 10px;
      .boxShadow();
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    .displayFlex(row, space-between, auto);

    @media @tablet {
      .displayFlex(column, auto, center);
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @tablet {
        width: 75%;
      }

      .btn {
        .btnFormat();

        @media @tablet {
          padding: 4% 0;

          @media @mobile {
            padding: 3.5% 0;
          }
        }

        &:hover {
          .hoverBoxShadow(@btnHoverColor);
        }
      }
    }
  }

  .custom-destination {
    width: 100%;
    border-top: 2px dashed @navigation-border;
    margin: 30px 0;

    .content-custom {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        margin: 30px 0;

        @media @tablet {
          width: 75%;
          text-align: center;
        }
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media @tablet {
          width: 75%;
        }

        label {
          color: @font-color;
          font-size: 1.5rem;
          margin-bottom: 4px;
        }

        input {
          height: 4vh;
          margin-bottom: 15px;
          padding: 12px 20px;
          border: 2px solid @navigation-border;
          border-radius: 12px;
        }
      }

      .btn {
        .btnFormat();
        width: 25%;
        background-color: #21bf73;
        margin-bottom: 30px;
        
        &:hover {
          .hoverBoxShadow(tint(#21bf73, 15%));
        }
      }
    }
  }
}// home